<h1>Questionnaire prix du billet d'Opus</h1>

<p>
  Hello et merci de prendre le temps de donner ton avis ! [insérer texte stylé
  ici]
</p>

<p>Prix de base du billet 3 jours: {{ basePrice | currency: "EUR" }}</p>

<div
  *ngFor="let question of questions; let questionIndex = index"
  class="form-group col-sm-4 mb-4"
>
  <label [attr.for]="question.id">{{ question.label }}</label>
  <select
    class="form-select"
    [id]="question.id"
    [(ngModel)]="question.answerIndex"
  >
    <option
      *ngFor="let option of question.options; let optionIndex = index"
      [value]="optionIndex"
    >
      {{ option.label }}
    </option>
  </select>
  <span *ngIf="question.answerIndex !== undefined">
    Donc :
    <span
      *ngIf="question.options[question.answerIndex].value > 0"
      class="text-success"
    >
      +{{ question.options[question.answerIndex].value | currency: "EUR" }}
    </span>
    <span
      *ngIf="question.options[question.answerIndex].value < 0"
      class="text-danger"
    >
      {{ question.options[question.answerIndex].value | currency: "EUR" }}
    </span>
    <span *ngIf="question.options[question.answerIndex].value == 0">
      Pas de changement
    </span>
    -> {{ getTotalPrice(questionIndex + 1) | currency: "EUR" }}
  </span>
</div>

<h3>Prix estimé du billet 3 jours : {{ getTotalPrice() | currency: "EUR" }}</h3>

<button class="btn btn-success">Envoyer mes réponses</button>
