<div class="col-sm-7 m-auto" *ngIf="finished">
  <div class="box master-box">
    <h1>Merci et à plus à Opus !</h1>
  </div>
</div>
<div class="col-sm-7 m-auto" *ngIf="!finished">
  <div class="box master-box">
    <h1>Questionnaire prix du billet d'Opus</h1>

    <p>
      Salut à toi qui viens participer à ce sondage ! Avec l'équipe
      d'organisation d'Opus, nous nous posons des questions sur les orientations
      que doit prendre le festival. Comme Opus est un festival participatif,
      nous avons créé ce sondage.
    </p>
    <p>
      Certes, l'argent n'est pas une fin en soi, mais, certains choix ont une
      influence sur le prix du billet. Aussi, tu verras le prix varier en
      fonction des choix que tu fais. N'oublie pas qu'il ne suffit pas de tout
      mettre à fond parce que le festival sera dingue ; pose toi aussi la
      question “Quel prix suis-je prêt à payer ?” (C'est pas Coachella ici). Si
      le tarif final est trop élevé pour toi, c'est probablement qu'il faut
      revoir certaines prestations à la baisse.
    </p>
    <p>
      Nous nous baserons sur ce questionnaire pour faire des choix et créer un
      événement qui nous ressemble. Le prix de base est estimé par rapport à
      l'année dernière (68€ pour trois jours). Il variera en fonction de tes
      réponses. Ce tarif sera bien sûr décliné en tarif réduit (-10%) et en
      tarif deux jours.
    </p>

    <h4>Prix de base du billet 3 jours: {{ basePrice | currency: "EUR" }}</h4>
  </div>

  <div *ngFor="let questionGroup of questionGroups">
    <h3>{{ questionGroup.label }}</h3>
    <div class="box" *ngIf="questionGroup.description">
      {{ questionGroup.description }}
    </div>
    <div
      *ngFor="
        let question of questionGroup.questions;
        let questionIndex = index
      "
      class="form-group box"
    >
      <label [attr.for]="question.id" class="fw-bold">{{
        question.label
      }}</label>
      <p *ngIf="question.description" innerHTML="{{ question.description }}">
        <!-- small hack to display html tags, sorry -->
        {{ question.description }}
      </p>
      <select
        class="form-select mb-2"
        [id]="question.id"
        [(ngModel)]="question.answerIndex"
        (change)="onChange(question)"
      >
        <option [value]="undefined">Sélectionner</option>
        <option
          *ngFor="let option of question.options; let optionIndex = index"
          [value]="optionIndex"
        >
          {{ option.label }}
        </option>
      </select>
      <span
        *ngIf="question.answerIndex !== undefined && !question.hideConclusion"
      >
        Donc :
        <span
          *ngIf="question.options[question.answerIndex].value > 0"
          class="text-danger"
        >
          +{{ question.options[question.answerIndex].value | currency: "EUR" }}
        </span>
        <span
          *ngIf="question.options[question.answerIndex].value < 0"
          class="text-success"
        >
          {{ question.options[question.answerIndex].value | currency: "EUR" }}
        </span>
        <span *ngIf="question.options[question.answerIndex].value == 0">
          Pas de changement
        </span>
        -> {{ getTotalPrice() | currency: "EUR" }}
        <span *ngIf="getPrivatePrice() > 0">
          et {{ getPrivatePrice() | currency: "EUR" }} pour le transport
        </span>
      </span>
    </div>
  </div>

  <div class="box master-box">
    <h4>
      Prix estimé du billet 3 jours : {{ getTotalPrice() | currency: "EUR" }}
      <span *ngIf="getPrivatePrice() > 0">
        et {{ getPrivatePrice() | currency: "EUR" }} pour le transport
      </span>
    </h4>

    <button class="btn btn-success" (click)="send()">
      <i class="fa-solid fa-paper-plane"></i> Envoyer mes réponses
    </button>
  </div>
</div>

<swal
  #confirmSwal
  title="Merci !"
  text="Tes réponses ont bien été envoyées"
  icon="success"
>
</swal>

<swal
  #errorSwal
  title="Oops !"
  text="Une erreur s'est produite, merci de nous recontacter"
  icon="error"
>
</swal>
