<div class="col-sm-7 m-auto" *ngIf="finished">
  <div class="box master-box">
    <h1>Merci et à plus à Opus !</h1>
  </div>
</div>
<div class="col-sm-7 m-auto" *ngIf="!finished">
  <div class="box master-box">
    <h1>Questionnaire prix du billet d'Opus</h1>

    <p>
      Bonjour à toutes et tous, nous cherchons à estimer au mieux le prix du
      festival pour que tout le monde s'y retrouve, nous avons donc besoin de
      votre avis sur quelques points particuliers : Le prix total évoluera en
      fonction de vos réponses
    </p>

    <h4>Prix de base du billet 3 jours: {{ basePrice | currency: "EUR" }}</h4>
  </div>

  <div *ngFor="let questionGroup of questionGroups">
    <h3>{{ questionGroup.label }}</h3>
    <div class="box" *ngIf="questionGroup.description">
      {{ questionGroup.description }}
    </div>
    <div
      *ngFor="
        let question of questionGroup.questions;
        let questionIndex = index
      "
      class="form-group box"
    >
      <label [attr.for]="question.id" class="fw-bold">{{
        question.label
      }}</label>
      <p *ngIf="question.description" innerHTML="{{ question.description }}">
        <!-- small hack to display html tags, sorry -->
        {{ question.description }}
      </p>
      <select
        class="form-select mb-2"
        [id]="question.id"
        [(ngModel)]="question.answerIndex"
        (change)="onChange(question)"
      >
        <option [value]="undefined">Sélectionner</option>
        <option
          *ngFor="let option of question.options; let optionIndex = index"
          [value]="optionIndex"
        >
          {{ option.label }}
        </option>
      </select>
      <span
        *ngIf="question.answerIndex !== undefined && !question.hideConclusion"
      >
        Donc :
        <span
          *ngIf="question.options[question.answerIndex].value > 0"
          class="text-danger"
        >
          +{{ question.options[question.answerIndex].value | currency: "EUR" }}
        </span>
        <span
          *ngIf="question.options[question.answerIndex].value < 0"
          class="text-success"
        >
          {{ question.options[question.answerIndex].value | currency: "EUR" }}
        </span>
        <span *ngIf="question.options[question.answerIndex].value == 0">
          Pas de changement
        </span>
        -> {{ getTotalPrice() | currency: "EUR" }}
      </span>
    </div>
  </div>

  <div class="box master-box">
    <h4>
      Prix estimé du billet 3 jours : {{ getTotalPrice() | currency: "EUR" }}
    </h4>

    <button class="btn btn-success" (click)="send()">
      <i class="fa-solid fa-paper-plane"></i> Envoyer mes réponses
    </button>
  </div>
</div>

<swal
  #confirmSwal
  title="Merci !"
  text="Tes réponses ont bien été envoyées"
  icon="success"
>
</swal>

<swal
  #errorSwal
  title="Oops !"
  text="Une erreur s'est produite, merci de nous recontacter"
  icon="error"
>
</swal>
